<ion-header>
  <ion-toolbar>
    <ion-title>
      Check It
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-reorder-group (ionItemReorder)="reorderTasks($event)" disabled="false">
       <ion-list-header>
        <ion-text color="primary">
          <h2>Today</h2>
        </ion-text>
      </ion-list-header>
      <ion-item *ngFor="let task of tasks">
        <ion-icon slot="start" color="medium" [attr.name]="task.status == 'true' ? 'checkmark-circle-outline' : 'radio-button-off'" (click)="updateTask(task)"></ion-icon>
        <ion-label><ion-text [attr.color]="task.status == 'true' ? 'light' : null">{{ task.name }}</ion-text></ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>